version: '3'

services:
  influxdb:
    restart: always
    build: ./influxdb
    ports:
      - "${PORT}:8086"
      - "${COLLECTDB_PORT}:25826/udp"
    volumes:
      - ${DATA_DIRECTORY}:/var/lib/influxdb